@model HomeworkAssignment3.Models.LibraryHomeViewModel
@using PagedList.Mvc;
@using PagedList;

<div class="container py-4">
    <h2 class="text-center my-4">Library Management System</h2>

    <div class="row">
        <div class="col-md-6">
            <h3 class="mb-3">Students</h3>
            <div class="mb-2">
                <button class="btn btn-primary openModal" data-title="Add Student" href="@Url.Action("Create", "students")">
                    <i class="fa fa-plus"></i> Add Student
                </button>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Birthdate</th>
                        <th>@Html.DisplayNameFor(model => model.Students.First().Class)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Surname</td>
                            <td>@student.Birthdate.ToShortDateString()</td>
                            <td>@student.Class</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination-wrapper">
                @Html.PagedListPager(Model.Students, page => Url.Action("Index", new { page, page2 = Model.BookStatus.PageNumber }))
            </div>
        </div>

        <div class="col-md-6">
            <h3 class="mb-3">Books</h3>
            <div class="mb-2">
                <button class="btn btn-primary openModal" data-title="Add Book" href="@Url.Action("Create", "books")">
                    <i class="fa fa-plus"></i> Add Book
                </button>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Page Count</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.BookStatus)
                    {
                        <tr>
                            <td>@book.Book.Name</td>
                            <td>@book.Book.PageCount</td>
                            <td>@book.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination-wrapper">
                @Html.PagedListPager(Model.BookStatus, page2 => Url.Action("Index", new { page = Model.Students.PageNumber, page2 }))
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <!-- Content will load here -->
                    <p class="text-muted">Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .table {
            margin-bottom: 1.5rem;
        }

            .table th, .table td {
                vertical-align: middle;
            }

        .pagination-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

        .modal .modal-body {
            min-height: 200px; /* Placeholder height to avoid layout shift */
        }
    </style>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(document).on('click', '.openModal', function (e) {
            e.preventDefault();
            const title = $(this).data('title'); // Get the title from the button
            const url = $(this).attr('href'); // Get the URL for loading content

            $('#modalDialog').find('.modal-title').text(title); // Set the modal title
            $('#modalDialog').modal('show').find('.modal-body').load(url, function (response, status, xhr) {
                if (status === "error") {
                    $("#modalDialog .modal-body").html(`<p class="text-danger">Sorry, there was an error: ${xhr.status} ${xhr.statusText}</p>`);
                }
            });
        });
    </script>
}
